<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0"/>
<title>Home - Shopme Admin</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" media="all">
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid">
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img style="max-width:6em" th:src="@{/images/logo.png}"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/users}">Users</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/categories}">Categories</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/brands}">Brands</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/customer}">Customer</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/shipping}">Shipping</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/salesReport}">Sales Report</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/orders}">Orders</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/articles}">Articles</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/menus}">Menus</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/setting}">Settings</a></li>
				</ul>
			</div>
		</nav>
	<div>
	<h1>Manage Users</h1>
	</div>
	
	<div>
		<table class="table table-bordered table-striped table-hover table-responsive">
		<thead class="thead-dark">
			<tr>
				<th>User Id</th>
				<th>Name</th>
				<th>Photo</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Active</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="user : ${listusers}">
			<td>[[${user.id}]]</td>
			<td>[[${user.firstName}+${user.lastName}]]</td>
			<td>[[${user.photo}]]</td>
			<td>[[${user.email}]]</td>
			<td>[[${user.roles}]]</td>
			<td>[[${user.enabled}]]</td>
			<td> <button &nbsp>Edit</button><button &nbsp >delete</button></td>
			</tr>
			</tbody>
		</table>
	</div>
	</div>
	<div class="center">
	<p>copyright 2023</p>
	</div>

</body>
</html>